{% extends "user/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
  <p class="text-center py-2 text-gray-600 dark:text-white text-2xl font-bold">Password reset complete</p>
  <p class=" text-gray-700 dark:text-white px-16 py-2">
      You should expect to receive an email from us shortly. To change your password, simply click on the link provided in the email. In case you do not see an email from us in your inbox, kindly check your spam folder as well.
  </p>

  <a href="{% url 'user:account_login' %}" class="link">Log in</a>
{% endblock content %}