{% extends "user/base.html" %}
{% load allauth i18n %}
{% load form_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <h1 class="text-xl font-PlayfairDisplayBold font-bold text-orange-500 py-4">
        {% trans "Change Password" %}
    </h1>
   
    {% url 'account_change_password' as action_url %}
    <form method="post" action={{action_url}} class="flex flex-col justify-center items-center">{% csrf_token %}
        {{ redirect_field }}
        <div class="flex gap-x-2 w-full">
            <div class="flex flex-col w-1/2">
             <label for="password" class="float-left dark:text-white text-gray-700 text-sm">Current Password</label>
             {% render_field_with_errors form.oldpassword %}
            
            </div>
        </div>

        <div class="flex gap-x-2 w-full">
            <div class="flex flex-col w-1/2">
             <label for="password" class="float-left dark:text-white text-gray-700 text-sm">Password</label>
             {% render_field_with_errors form.password1 %}
            
            </div>
            <div class="flex flex-col w-1/2">
             <label for="password" class="float-left dark:text-white text-gray-700 text-sm">Password (again) </label>
             {% render_field_with_errors form.password2 %}
            </div>
           
        </div>
        <div class="text-sm text-gray-700 dark:text-gray-400 pt-2 font-sans">{{form.password1.help_text}}</div>

        <button type="submit" class="btn-pink mt-8">{% trans "Change Password" %}</button>
        <br/>
        
    </form>

    <div class="mt-5 ml-6 font-sans">
        Back to <a class="link" href="{% url 'traceapp:main_template_view' %}">OWL Trace App</a>
        or <a class="link pt-4" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
{% endblock content %}
