<div class="w-full xl:w-1/2">
  <label class="mb-3 block text-sm font-medium text-black dark:text-white">
    {{ label }} {% if require %}<span class="text-meta-1">*</span>{% endif %}
  </label>
  <input type="{{ input_type }}" placeholder="{{ placeholder }}" name="{{ name }}" 
         {% if has_value %} value="{{ value }}" {% endif %}
         class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary" />
</div>
